@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100dvw;
    height: 100dvh;
    background-image: url('/assets/spacebg.jpg');
    background-size: cover;
    backdrop-filter:  brightness(50%);
}
